<div class="container-fluid background-color-2 py-5" id="about-section">
    <div class="row align-items-center justify-content-center">
        <div class="col-md-6 text-white">
            <h2 class="text-purple-300">Sobre mim</h2>
            <p>
                Eu sou um desenvolvedor de software com paixão por tecnologia e uma sólida experiência em várias áreas
                do desenvolvimento de software. Minha jornada incluiu a exploração de várias tecnologias, desde C# e ASP
                .NET Core até JavaScript e TypeScript. Aqui está um pouco mais sobre mim:
            </p>

            <p class="text-purple-100 fw-bold">Minhas habilidades:</p>
            <ul>
                <li>
                    Linguagens: C#, JavaScript, TypeScript
                </li>
                <li>
                    Tecnologias: ASP .NET Core, Node.js (NestJS), Git
                </li>
                <li>
                    Bancos de Dados: MySQL, SQL Server, PostgreSQL
                </li>
                <li>
                    Testes: XUnit, Jest, Mocks e Stubs
                </li>
                <li>
                    Arquiteturas: Web APIs, Event-Driven
                </li>
                <li>
                    Sistemas Operacionais: Linux, Windows
                </li>
                <li>
                    Idiomas: Inglês técnico (leitura de artigos, documentação e compreensão de videos)
                </li>
            </ul>

            <p class="text-purple-100 fw-bold">O que Estou Aprendendo Atualmente:</p>
            <ul class="text-white">
                <li>
                    Tenho direcionado meus estudos para projetos práticos com IA, como o desenvolvimento de um servidor
                    MCP
                    em .NET, voltado a simplificar algumas rotinas pessoais, incluindo o planejamento financeiro. <br>
                </li>
                <li>
                    Além disso, iniciei minha jornada na área de infraestrutura em nuvem, explorando os principais
                    serviços
                    de cloud (Azure e AWS) e aprofundando meus conhecimentos em infraestrutura como código, utilizando
                    Terraform.
                </li>
            </ul>
        </div>
    </div>
</div>