@page
@model vitormcampos.com.br.UI.Pages.Habilidades

@{
    ViewData["Title"] = "Habilidades";
}

<div class="container text-purple-300 text-center h-50">
    <h2 class="my-md-5">
        @ViewData["Title"]
    </h2>
    <div class="row align-content-center align-items-center">
        <div class="col-4 my-4">
            <p>
                <i class="bi bi-diagram-3 h1"></i>
            </p>
            <h3 class="h4 fw-normal text-default">
                POO <br>
                Programação Orientada
                a Objetos
            </h3>
        </div>
        <div class="col-4 my-4">
            <p>
                <i class="bi bi-database h1"></i>
            </p>
            <h3 class="h4 fw-normal text-default">
                Bancos de dados <br>
                SQL e NOSQL
            </h3>
        </div>
        <div class="col-4 my-4">
            <p>
                <i class="bi bi-globe h1"></i>
            </p>
            <h3 class="h4 fw-normal text-default">
                Integrações com <br>
                web services
            </h3>
        </div>
        <div class="col-4 my-4">
            <p>
                <i class="bi bi-ubuntu h1"></i>
            </p>
            <h3 class="h4 fw-normal text-default">
                Linux
            </h3>
        </div>
        <div class="col-4 my-4">
            <p>
                <i class="bi bi-terminal h1"></i>
            </p>
            <h3 class="h4 fw-normal text-default">
                CLI
            </h3>
        </div>
        <div class="col-4 my-4">
            <p>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" class="fill-purple-300" height="40">
                    <path d="M349.9 236.3h-66.1v-59.4h66.1v59.4zm0-204.3h-66.1v60.7h66.1V32zm78.2 144.8H362v59.4h66.1v-59.4zm-156.3-72.1h-66.1v60.1h66.1v-60.1zm78.1 0h-66.1v60.1h66.1v-60.1zm276.8 100c-14.4-9.7-47.6-13.2-73.1-8.4-3.3-24-16.7-44.9-41.1-63.7l-14-9.3-9.3 14c-18.4 27.8-23.4 73.6-3.7 103.8-8.7 4.7-25.8 11.1-48.4 10.7H2.4c-8.7 50.8 5.8 116.8 44 162.1 37.1 43.9 92.7 66.2 165.4 66.2 157.4 0 273.9-72.5 328.4-204.2 21.4.4 67.6.1 91.3-45.2 1.5-2.5 6.6-13.2 8.5-17.1l-13.3-8.9zm-511.1-27.9h-66v59.4h66.1v-59.4zm78.1 0h-66.1v59.4h66.1v-59.4zm78.1 0h-66.1v59.4h66.1v-59.4zm-78.1-72.1h-66.1v60.1h66.1v-60.1z"/>
                </svg>
            </p>
            <h3 class="h4 fw-normal text-default">
                Docker
            </h3>
        </div>
    </div>
</div>