@page
@model IndexModel
@{
    ViewData["Title"] = "Inicio";
}

<div class="container h-75">
    <div class="row align-items-center h-100">
        <div class="col-md-8">
            <h2 class="h1 text-purple-300">
                <span class="text-white">Olá, eu sou o Vitor - um <br>desenvolvedor backend</span> que <br>impulsiona a eficiência, a <br>
                qualidade e a inovação do seu <br>negócio.
            </h2>
        </div>
    </div>
</div>