@page
@model vitormcampos.com.br.UI.Pages.Sobre

@{
    ViewData["Title"] = "Sobre";
}

<div class="container-fluid h-100 d-sm-flex align-items-center justify-content-center">
    <div class="row">
        <div class="col-sm-12 col-md-6 text-default order-last order-md-first">
            <h2 class="text-purple-100 fw-normal">Sobre mim</h2>
            <p>
                Olá! Meu nome é Vitor Campos e sou desenvolvedor de sistemas
                com dois anos de experiência no mercado. Durante minha
                carreira, tive a oportunidade de trabalhar em diferentes setores,
                incluindo e-commerce, CRM para produtos digitais e no ramo imobiliário.
            </p>
            <p>
                Em projetos anteriores, destaquei-me na criação de soluções
                personalizadas e integrações com outros sistemas, buscando
                automatizar processos e aumentar a eficiência operacional.
                Através da minha experiência, adquiri um profundo conhecimento
                em desenvolvimento de sistemas, além de uma compreensão
                sólida das necessidades e demandas específicas desses setores.
            </p>
            <p>
                Minhas habilidades técnicas incluem o domínio de linguagens de
                programação, como C#, ASP.NET, e conhecimentos em integração
                de APIs e bancos de dados. Além disso, possuo experiência em
                ambientes ágeis de desenvolvimento, onde aprendi a trabalhar em
                equipe, enfrentar desafios e entregar projetos dentro do prazo.
            </p>
            <p>
                Estou entusiasmado em continuar crescendo profissionalmente e
                explorar novas oportunidades no campo de desenvolvimento de
                sistemas. Este site é uma vitrine do meu trabalho, onde você pode
                conhecer mais sobre meus projetos anteriores, minhas
                habilidades técnicas e entrar em contato comigo.
            </p>
        </div>
        <div class="col-sm-12 col-md-6 text-center order-first order-md-first">
            <img class="img-fluid" src="~/images/logo.png" alt="">
        </div>
    </div>
</div>