@page
@model vitormcampos.com.br.UI.Pages.Sobre

@{
    ViewData["Title"] = "Sobre";
}

<div class="container-fluid">
    <div class="row justify-content-center align-items-center">
        <div class="col text-default">
            <h2 class="text-purple-100 fw-normal">Sobre mim</h2>
            <p class="my-5">
                Olá! Meu nome é Vitor Campos e sou desenvolvedor de sistemas <br>
                com dois anos de experiência no mercado. Durante minha <br>
                carreira, tive a oportunidade de trabalhar em diferentes setores, <br>
                incluindo e-commerce, CRM para produtos digitais e no ramo <br>
                imobiliário.

            </p>
            <p>
                Em projetos anteriores, destaquei-me na criação de soluções <br>
                personalizadas e integrações com outros sistemas, buscando <br>
                automatizar processos e aumentar a eficiência operacional. <br>
                Através da minha experiência, adquiri um profundo conhecimento <br>
                em desenvolvimento de sistemas, além de uma compreensão <br>
                sólida das necessidades e demandas específicas desses setores.
            </p>
            <p>
                Minhas habilidades técnicas incluem o domínio de linguagens de <br>
                programação, como C#, ASP.NET, e conhecimentos em integração <br>
                de APIs e bancos de dados. Além disso, possuo experiência em <br>
                ambientes ágeis de desenvolvimento, onde aprendi a trabalhar em <br>
                equipe, enfrentar desafios e entregar projetos dentro do prazo.
            </p>
            <p>
                Estou entusiasmado em continuar crescendo profissionalmente e <br>
                explorar novas oportunidades no campo de desenvolvimento de <br>
                sistemas. Este site é uma vitrine do meu trabalho, onde você pode <br>
                conhecer mais sobre meus projetos anteriores, minhas <br>
                habilidades técnicas e entrar em contato comigo.
            </p>
        </div>
        <div class="col">
            <img class="img-fluid" src="~/images/logo.png" alt="">
        </div>
    </div>
</div>